<!DOCTYPE html>
<html>
<body>
  <h1>Simple Loopback Index</h1>

<ul>
  <li><a href="/status">Status</a></li>
  <li><a href="/explorer">Explorer</a></li>
</ul>

<h2>Sample pages</h2>
  <ul>
  <li><a href="/messages">Messages</a></li>
  <li><a href="/user">User</a></li>
  </ul>
</body>

</html>
